body {
    background-color: deepskyblue;
    text-align: center;
}

h1 {
    color: darkslategray;
    text-align: center;
    font-size: xxx-large;
}

h2 {
    color: black;
    text-align: center;
    font-size: x-large;

}

.product-box {

    width: 18vw;
    width: 18%;
    float: right;
    display: table-cell;
    padding: 0.5rem;
    -moz-box-align: center;
    border: 1px solid black;
    color: rgba(44, 62, 80, 1.0);
    margin: 1vw 0.5vw 8rem;
}

nav {
    color: cyan;
    text-align: center;
    font-size: large;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.myform{
    width:30%;
    margin: auto;
    padding-top: 3rem;
}


.form-group{
    padding-top: 3rem;
}

.form-label{
    width: 38%;
    float: left;
    padding: 0.3rem;
}

.form-element{
    width:20%;
    float: left;
}

.button-group{
    margin-top: 3rem;
    text-align: center;
}

.button-group input{
    padding: 0.3rem;
}

.form-group input{
    padding: 0.3rem;
    width:100%;
}