<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Andrew's Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/Smile.css">
</head>

<body>
<div class="container">
    <h1>Andrew's Website</h1>
    <h2>{% block pageheading %} {% endblock %}</h2>
    <nav>

        <a href="/Menu">Menu |</a>
        <a href="/"> Home |</a>
        <a href="/Contact"> Contact |</a>
        {% if logged_in %}
        <a href="/logout"> Log out</a>
        {% else %}
        <a href="/Login"> Log in</a>
        {% endif %}
    </nav>
</div>

    <main>
        {% if logged_in %}
        <strong>Hello, {{ session.firstname }}</strong>
        {% endif %}

        {% block main %}
        {% endblock %}
    </main>
</body>

</html>