<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>j site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
<div class="container">
    <h1>j site</h1>
    <h2>home</h2>
    <nav>
        <a href="/templates/index.html">home</a>
        <a href="/templates/menu.html">menu</a>
        <a href="/templates/contact.html">contact</a>
    </nav>
</div>
<script src="js/script.js"></script>
</body>

</html>